.nav-bar {
  background-color: rgb(189, 195, 199);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: 30px;
}

.link:hover {
  color: darkslategrey;
  text-decoration: none;
}

.logo {
  height: 100px;
}